doctype html
html(ng-app="gimli")
  head
    title #{title} - Gimli
    link(rel='stylesheet', href='/static/styles/global.css')
    script(type='text/javascript' src="/static/vendor/jquery/dist/jquery.min.js")
    script(type='text/javascript' src="/faye/client.js")
    script(type='text/javascript' src="/static/vendor/angular/angular.js")
    script(type='text/javascript' src="/static/vendor/angular-route/angular-route.js")
  body
    header
      h1 Gimli
    .container
      .main-content
        a(ng-href="/legitco/gimli/issues") gimli issues
        div(ng-view)
      .sidebar
        if user
          dt ID
          dd= user.id
          dt Login
          dd= user.login
          dt Name
          dd= user.name
          dt Email
          dd: a(href=("mailto:" + user.email))= user.email
          dt Profile
          dd: a(href=user.html_url)= user.html_url
          dt Location
          dd= user.location
          dt Image
          dd: img(src=user.avatar_url width=100)
          a(href="/logout") Logout
        else
          a(href="/login") Login
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus

    script(type='text/javascript' src="/static/scripts/app.js")

